*.iml
.gradle
/ruby
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.kotlin
.keystore
.DS_Store
secrets.properties
/build
/**/build
Kwik-catalog/build/
Kwik/build/
/captures
/**/google-services.json
.externalNativeBuild
.cxx
local.properties
.idea
